* {
  font-family: 'Jost', 'Helvetica Neue', Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  font-weight: 400;
  font-size: 2.4rem;
  text-align: left;
  margin-bottom: 1.5rem;
}
h2 {
  font-size: 3rem;
  font-weight: 600;
  margin: -1rem 0 6rem 0;
  background: #A621CF;
  background: linear-gradient(to right, #4DFFE2 0%, #fbf12e 50%, #fb2eac 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h3 {
  font-size: 3rem;
  font-weight: 600;
  display: none;
  background: #A621CF;
  background: linear-gradient(to right, #4DFFE2 0%, #fbf12e 50%, #fb2eac 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: -1rem 0 4rem 0;
  line-height: 3.5rem;
}
body {
  font-size: 16px;
  background: rgb(43,24,92);
  background: linear-gradient(45deg, rgb(12 4 34) 0%, rgb(51 7 114) 100%);
}
.hero {
  display: grid;
  grid: auto / 45% 1fr;
  grid-template-areas:
    "left right";
  border-radius: 0.8rem;
  box-sizing: border-box;
  width: 80%;
  aspect-ratio: 2 / 1;
  margin: 4rem auto;
  position: relative;
  color: #ffffff;
  /* align-content: center; */
  border-top: 1px solid rgb(255 255 255 / 30%);
  border-right: 1px solid rgb(255 255 255 / 30%);
  box-shadow: 0 5px 20px 0 rgb(8 2 23 / 40%);
  background: rgb(82,33,156);
  background: linear-gradient(45deg, rgb(56 14 119) 0%, rgb(145 62 186) 100%);
}
.left {
  grid-area: left;
  padding: 8%;
}
.right {
  grid-area: right;
}
.logo {
  display: block;
  width: 30%;
  margin-bottom: 5rem;
}
strong {
  font-weight: 400;
  color: #FFF500;
}
form label {
  display: none;
}
input[type="email"], input[type="submit"] {
  display: block;
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 6px;
  margin-bottom: 1rem;
}
input[type="submit"] {
  background-color: #d1c905;
  font-weight: 500;
  font-size: 1.2rem;
  cursor: pointer;
  color: rgb(0 0 0 / 80%);
}
input[type="submit"]:hover {
  background-color: #FFF500;
  color: rgb(0 0 0 / 100%);
}
::placeholder {
  color: #979797;
  font-weight: 400;
  font-size: 1.2rem;
}
.right img {
  display: block;
  width: 55%;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 20px 0 10px 0;
}
.copyrights {
  margin-top: 1rem;
  text-align: center;
  display: block;
  font-size: 0.8rem;
  opacity: .6;
}

@media ( max-width: 975px ) {
  .hero {
    display: flex;
    flex-flow: column;
  }
  h1 {
    font-size: 2em;
  }
  .logo {
    width: 40%;
  }
  .right {
    display: none;
  }
  ::placeholder {
    font-size: 1rem;
  }
  h2 {
    display: none;
  }
  h3 {
    display: block;
  }
}

@media ( min-width: 975px ) and ( max-width: 1425px ) {
  .hero {
    aspect-ratio: 1.6 / 1;
  }
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1em;
  }
  .logo {
    width: 40%;
  }
  ::placeholder {
    font-size: 1rem;
  }
  input[type="submit"] {
    font-size: 1rem;
    padding: 0.8rem;
    border: none;
    border-radius: 6px;
  }
}





h2 {
  line-height: 1.5;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 500px;
}

h2 span {
  /* font-size: 40px; */
  /* margin-left: 40px; */
}

.message {
  background: #A621CF;
  background: linear-gradient(to right, #4DFFE2 0%, #fbf12e 50%, #fb2eac 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
  font-weight: 900;
  overflow: hidden;
  position: absolute;
  padding-left: 0.5rem;
  top: 0.2rem;
  left: 180px;
  animation: openclose 5s ease-in-out infinite;
}


@keyframes openclose {
  0% {
    top: 0.2rem;
    width: 0;
  }
  5% {
    width: 0;
  }
  15% {
    width: 300px;
  }
  30% {
    top: 0.2rem;
    width: 300px;
  }
  33% {
    top: 0.2rem;
    width: 0;
  }
  35% {
    top: 0.2rem;
    width: 0;
  }
  38% {
    top: -4.5rem;
    
  }
  48% {
    top: -4.5rem;
    width: 300px;
  }
  62% {
    top: -4.5rem;
    width: 300px;
  }
  66% {
    top: -4.5rem;
    width: 0;
    text-indent: 0;
  }
  71% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  86% {
    top: -9rem;
    width: 340px;
  }
  95% {
    top: -9rem;
    width: 340px;
  }
  98% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}