* {
  font-family: 'Jost', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 200;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
h1 {
  font-weight: 500;
  color: #000000;
  font-size: 8rem;
  text-align: center;
  padding-bottom: 1rem;
}
h2 {
  color: #000000;
  font-size: 3.2rem;
  font-weight: 600;
  padding-bottom: 2.5rem;
  text-align: center;
}
h3 {
  text-align: center;
  font-size: 1.8rem;
  color: #555760;
  font-weight: 400;
  line-height: 2.5rem;
}
body {
  font-size: 16px;
  background: rgb(43,24,92);
  background: linear-gradient(45deg, rgb(12 4 34) 0%, rgb(51 7 114) 100%);
}
.hero {
  border-radius: 0.8rem;
  width: 80%;
  aspect-ratio: 2 / 1;
  margin: 4rem auto;
  border-top: 1px solid rgb(255 255 255 / 30%);
  border-right: 1px solid rgb(255 255 255 / 30%);
  box-shadow: 0 5px 20px 2px rgb(8 2 23 / 60%);
  background: rgb(82,33,156);
  background: linear-gradient(45deg, rgba(82,33,156,1) 0%, rgb(145 62 186) 100%);
}
.logo {
  display: block;
  width: 31rem;
  margin-left: 40px;
}

p, strong {
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-bottom: 1.5rem;
}

.wrapper {
  padding: 6rem 2rem;
  max-width: 48rem;
  margin: 0 auto;
}

bold {
  font-size: inherit;
  font-weight: 400;
}

.emphasis, .emphasis strong {
  font-size: 2rem;
  /* font-style: italic; */
  font-weight: 300;
}

.spacer {
  margin: 0 auto;
  display: inline-block;
  width: 99.9999%;
  padding: 2rem 0 4rem 0;
}

.column-content {
  margin-bottom: 1.5rem;
}

.copyright {
  margin-top: 3rem;
  text-align: center;
}

.copyright em, .copyright span {
  font-size: 1.1rem;
  font-style: normal;
}

@media ( max-width: 600px ) {
  .viewport-left {
    display: none;
  }

  .hero .trick {
    width: 300px;
  }

  .logo {
    width: 25rem;
    margin-left: -140px;
  }

  h1 {
    font-size: 5rem;
  }

  h3 {
    font-size: 1.2rem;
    text-align: left;
    line-height: 1.6rem;
  }

  p, strong {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.3rem;
    margin-bottom: 1.3rem;
  }

  .emphasis, .emphasis strong {
    /* font-size: 1.5rem; */
  }

  .vision .wrapper {
    width: 100%;
    padding: 6rem 0;
  }

  .light-leak-up, .light-leak-down {
    width: 100%;
  }

  .copyright {
    margin-top: 1.5rem;
  }

  .copyright em, .copyright span {
    font-size: 0.6rem;
  }
}
